body {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 12px;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: content-box;
}

.flex {
  padding: 0;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
}

li {
  list-style: none;
}

nav,
footer {
  background-color: lightgreen;
  padding: 5px;
}

nav a {
  padding: 10px 25px;
}

ul {
  padding: 0;
}
